img.__logo {
  height: 50px; }

i.yubi {
  cursor: pointer; }

.f6 {
  font-size: 6px; }

input.conf {
  border: 0px none;
  pointer-events: none; }

select.conf {
  border: 0px none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.error-message {
  color: red; }

table.table-bordered tbody.no-boarder td {
  border-left: 0px none;
  border-right: 0px none; }
table.table-bordered tbody.no-boarder td:first-child {
  border-right: 1px dotted #ccc; }
table th.wmin {
  width: 30px; }

input[type=checkbox] {
  transform: scale(1.5); }

div#screen {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(100, 100, 100, 0.5);
  top: 0;
  z-index: 1000;
  text-align: center; }
  div#screen div.m-5 {
    margin: 18rem !important; }
  div#screen div.spinner-border {
    width: 6rem;
    height: 6rem; }

#inputFile3,
#inputFile2,
#inputFile {
  position: relative;
  padding: 100px 0 30px;
  text-align: center; }

#dropArea3,
#dropArea2,
#dropArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 0 0;
  border: 2px dashed #494949;
  background: rgba(22, 165, 191, 0);
  transition: all 0.25s cubic-bezier(0.21, 0.51, 0.51, 1); }

#dropArea3.dragover,
#dropArea2.dragover,
#dropArea.dragover {
  border: 2px solid #16a5bf;
  background: rgba(22, 165, 191, 0.6); }

#uploadFile3,
#uploadFile2,
#uploadFile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 300px;
  height: 80px;
  opacity: 0; }

#inputFileWrap3,
#inputFileWrap2,
#inputFileWrap {
  position: relative;
  display: inline-block; }

#btnInputFile3,
#btnChangeFile3,
#btnInputFile2,
#btnChangeFile2,
#btnInputFile,
#btnChangeFile {
  display: table;
  width: 300px; }

#btnChangeFile3,
#btnChangeFile2,
#btnChangeFile {
  display: none; }

#btnInputFile3 span,
#btnChangeFile3 span,
#btnInputFile2 span,
#btnChangeFile2 span,
#btnInputFile span,
#btnChangeFile span {
  position: relative;
  z-index: 2;
  display: table-cell;
  width: 120px;
  height: 40px;
  border: 1px solid #333;
  border-radius: 4px;
  background: #333;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  vertical-align: middle; }

#upFileWrap3.selected #btnInputFile3,
#upFileWrap2.selected #btnInputFile2,
#upFileWrap.selected #btnInputFile {
  display: none; }

#upFileWrap3.selected #btnChangeFile3,
#upFileWrap2.selected #btnChangeFile2,
#upFileWrap.selected #btnChangeFile {
  display: table; }

#smartwizard.sw-theme-arrows .sw-container {
  min-height: 200px; }

#smartwizard.sw-theme-arrows .step-content {
  padding: 10px 0;
  border: 0 solid #d4d4d4;
  background-color: #FFF;
  text-align: left; }

#smartwizard.sw-theme-arrows .sw-toolbar {
  background: #fff;
  border-radius: 0 !important;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0 !important; }

#smartwizard.sw-theme-arrows .sw-toolbar-top {
  border-bottom-color: #fff !important; }

#smartwizard.sw-theme-arrows .sw-toolbar-bottom {
  border-top-color: #fff !important;
  border-bottom-color: #ddd !important; }

#smartwizard.sw-theme-arrows > ul.step-anchor {
  display: block;
  border: 0 solid #ccc !important;
  padding: 0;
  background: #f5f5f5;
  border-radius: 5px;
  list-style: none;
  overflow: hidden;
  margin-top: 20px; }

#smartwizard.sw-theme-arrows > ul.step-anchor li + li:before {
  padding: 0; }

#smartwizard.sw-theme-arrows > ul.step-anchor > li {
  float: left;
  width: 25%; }

#smartwizard.sw-theme-arrows > ul.step-anchor > li > a {
  color: #bbb;
  text-decoration: none;
  padding: 10px 0 10px 45px;
  position: relative;
  display: block;
  float: left;
  border-radius: 0;
  outline-style: none;
  background: #ddd;
  cursor: default;
  width: 100%; }

#smartwizard.sw-theme-arrows > ul.step-anchor > li > a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #ddd;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2; }

#smartwizard.sw-theme-arrows > ul.step-anchor > li > a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1; }

#smartwizard.sw-theme-arrows > ul.step-anchor > li:first-child > a {
  padding-left: 15px; }

#smartwizard.sw-theme-arrows > ul.step-anchor > li.clickable > a:hover {
  color: #4285f4 !important;
  background: #46b8da !important; }

#smartwizard.sw-theme-arrows > ul.step-anchor > li.active > a {
  border-color: #5bc0de !important;
  color: #fff !important;
  background: #5bc0de !important;
  width: 100%; }

#smartwizard.sw-theme-arrows > ul.step-anchor > li.active > a:after {
  border-left: 30px solid #5bc0de !important; }

#smartwizard.sw-theme-arrows > ul.step-anchor > li.done > a {
  border-color: #5cb85c !important;
  color: #fff !important;
  background: #5cb85c !important; }

#smartwizard.sw-theme-arrows > ul.step-anchor > li.done > a:after {
  border-left: 30px solid #5cb85c; }

#smartwizard.sw-theme-arrows > ul.step-anchor > li.danger > a {
  border-color: #d9534f !important;
  color: #d9534f !important;
  background: #fff !important; }

#smartwizard.sw-theme-arrows > ul.step-anchor > li.disabled > a, .sw-theme-arrows > ul.step-anchor > li.disabled > a:hover {
  color: #eee !important; }

div.areatable {
  width: 100%;
  overflow: auto; }

div.areatable table td:first-child {
  width: 40px;
  min-width: 40px; }

div.areatable table td {
  white-space: nowrap;
  min-width: 120px;
  text-align: center; }

.spinner {
  width: 32px;
  height: 32px;
  margin: 10px auto;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 1.0s infinite linear;
  left: 0;
  display: none; }

div#cardbody {
  position: relative; }
  div#cardbody div#cardscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 100;
    top: 0;
    left: 0; }

div.firstload {
  background-color: rgba(100, 100, 100, 0.5); }

div.text-hidden {
  display: none; }

body,
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

footer {
  margin-top: auto;
  background-color: #fff; }

@keyframes sp-anime {
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=basic.css.map */
